{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <title>Document</title>
</head>
{% comment %} ЛОГИН ОТ АДМИНКИ
              mika
              123 {% endcomment %}
<body>
    <header>
        <div class="content">
            <ul class="nav">
                <li><a href="{%url 'index'%}">Главная</a></li>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Создать пост</a></li>
                <li><a id ="openModal2" href="#">Войти</a></li>
                <li><a id="openModal" href="#">Регистрация</a></li>
            </div>
            <div class="popup-log" id="myModal">
                <div class="popup_content">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="input-group">
                            <label for="username">Login</label>
                            <input type="text" id="username" name="username" reaquired>
                            <label for="pass">Password</label>
                            <input type="password" id="pass" name="pass" required>
                        </div>
                         <button class="btn_reg" type="submit">Зарегистрироваться</button>
                    </form>
                <div class="sign-in" id="myModal2">
                        <div class="popup_content">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="input-group">
                                <label for="username">Login</label>
                                <input type="text" id="username" name="username" reaquired>
                                <label for="pass">Password</label>
                                <input type="password" id="pass" name="pass" required>
                            </div>
                             <button class="btn_reg" type="submit">Войти</button>
                </div>  
                </div>
            </div>
    </header>
    {% block content %}{% endblock%}
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>