{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <title>Document</title>
</head>
{% comment %} ЛОГИН ОТ АДМИНКИ
              mika
              123 {% endcomment %}
<body>
    <header>
        <div class="content">
            <ul class="nav">
                <li><a href="{%url 'index'%}">Главная</a></li>
                <li><a href="#">О нас</a></li>
                {%if request.path == '/' %}
                <li><a href="#">Создать пост</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout'%}">Выйти</a></li>
                {%else%}
                <li><a id="openLogin" href="#">Войти</a></li>
                <li><a id="openRegister" href="#">Регистрация</a></li>
                {%endif%}
            </ul>
            <div class="popup-log" id="RegisterModal">
                <div class="popup_content">
                    <form method="post" action="{% url 'register' %}">
                        {% csrf_token %}
                        <div class="input-group">
                            <label for="username">Login</label>
                            <input type="text" id="username" name="username" reaquired>
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" required>
                        </div>
                        <button class="btn_reg" type="submit">Зарегистрироваться</button>
                    </form>
                </div>
            </div>
            <div class="popup-log" id="LoginModal">
                    <div class="popup_content">
                        <form method="post" action="{% url 'login'%}">
                            {% csrf_token %}
                            <div class="input-group">
                                <label for="log_username">Login</label>
                                <input type="text" id="log_username" name="username" reaquired>
                                <label for="password">Password</label>
                                <input type="password" id="password" name="password" required>
                                <button class="btn_log" type="submit">Войти</button> 
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </header>
    {% block content %}{% endblock%}
    <script src="{% static 'main/js/app.js' %}"></script>
</body>

</html>